/*.csv
/*.xlsx
/*.xls
*.gguf
*.pyc

*_attempts/
wilcoxon_results_*
blind_key.json
/*.jsonl
/*.csv#

# Nix
# `nix develop --profile ./.nix`
.nix*

# RAG
mixedbread-ai/
all-MiniLM-L6-v2/
MongoDB/
Snowflake/
*.pkl
